.header {
    background-color: #FBF3D5;
}

.header h1 {
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}

.header ul {
    float: right;
}

.header ul li {
    display: inline-block;
    margin-left: 20px;
}

.header .button {
    background-color: black;
    height: 30px;
    width: 30px;
    display: block;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: -5px; 
}

.home-btn {
    text-decoration: none; 
    color: black; 
}

.shop-btn {
    text-decoration: none; 
    color: black; 
}

.header .roundbtn-white {
    background-color: white;
}

.header .roundbtn-yellow {
    background-color: #FBFB4B; 
}

.header .roundbtn-blue {
    background-color: #A3D1FF; 
}

.header .roundbtn-red {
    background-color: red;
}

.header .roundbtn-green {
    background-color: yellowgreen;
}

.header .shopping-cart {
    color: black;
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.welcome-banner {
    background: url(../Images/welcome\ banner\ yarn\ image.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 110px 0;
}

.welcome-banner .our-story {
    background-color: rgba(255,255,255,0.7);
    width: 33.3333%;
    padding: 20px;
    margin-left: auto;
}

.welcome-banner .our-story h2 {
    font-weight: 700;
}

.button {
    display: inline-block;
    background-color: pink;
    font-size: 23px;
    font-weight: 700;
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    text-align: center;

    color: brown;
}

.btn-pink {
    box-shadow: 0 5px 0 #E8C3DE;  
}

.btn-pink:hover {
    color: black;
}

.btn-pink:active {
    transform: translateY(5px); 
    box-shadow: 0 0 0 #000;
}

.information {
    padding: 25px 0;
}

img{
    max-width: 100%;
    height: auto;
}

.mySlider img{
    width: 100%;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    color: white;
    z-index: 10;
    font-size: 30px;
    cursor: pointer;
}

.slick-next{
    left: auto;
    right: 40px;
}

.slick-dots{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slick-dots button{
    display: none;
}

.slick-dots li{
    height: 13px;
    width: 13px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.slick-dots .slick-active{
    background-color: rgba(255, 255, 255, 1);
}

.mySlider {
    width: 100%; 
}

.mySlide{
    position: relative;
    height: 250px; 

}

.mySlide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.yarnimage-fade {
    width: 100%;
    height: 202px; 
    object-fit: cover;
}

.shopping {
    margin: 30px;
}

.footer {
    background-color: #f2f7ab; 
    padding: 30px 0; 
}

.footer .small {
    color: black; 
    font-size: 14px;
}

form { 
    padding: 20px;   
}

.pad {
    padding-bottom: 15px;
}

input:required {
    border-left: solid 2px #f00;
  }

